.cv-preview {
    width: 100%;
    padding: 2rem 0;
}

.cv-preview iframe {
    width: 100%;
    max-height: 0;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
    border: none;
}

.cv-preview iframe.visible {
    opacity: 1;
    max-height: 80rem;
    height: 80rem;
}

.cv-preview h3 {
    margin: auto;
    font-size: 2rem;
    text-align: center;
    opacity: 7;
        color: var(--main-color);
}

.cv-preview .preview-button {
    font-size: 1.5rem;
    width: 10rem;

}