.main {
    margin-top: 2rem;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
}

.main>div {
    padding: .5rem;
    width: 50%;
}



.main .my-image img {
    width: 15rem;
    border-radius: 50%;
    box-shadow: 2px 2px 10px var(--shadow-color);
    border-width: 3px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    transition: 0.5s;
    display: block;
    margin: auto;
}

.main .my-image img:hover {
    transform: scale(1.05);
    box-shadow: 3px 3px 20px var(--shadow-color);
}

.main h1 {
    font-size: 2rem;
}

.main .my-name {
    color: var(--main-color);
    font-weight: bold;
    font-size: 2.5rem;
}

.typed-cursor {
    font-weight: 300;
    animation: blink 1s infinite;
}


.typed-text {
    display: inline-block;
    min-width: 120px;
    /* على حسب أطول كلمة */
}

.typed-text::after {
    content: "_";
    animation: blink 1s infinite;
}

.main .info {
    color: var(--subtitle-color);
    font-size: 1.3rem;
    line-height: 1.7rem;
}

.main .btn {
    width: 7rem;
    height: auto;
    text-align: center;
    color: var(--main-color);
    margin: 2rem 0;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}




.main .animated-image img {
    width: 100%;
}


/* =============================== */




@media (max-width:780px) {
    .main {
        display: block;
        padding: .5rem;
    }

    .main>div:first-child {
        width: 100%;
        padding: 0;
    }

    .main>div:last-child {
        width: 100%;
        padding: 0;
    }



}